:root{ 
  box-sizing: border-box;
  font-size: 1em;
  --rel-font-tiny: 0.625rem;
  --rel-font-small: 0.875rem;
  --rel-font-normal: 1rem; 
  --rel-font-medium: 1.125rem;
  --rel-font-big: 1.25rem;
  --rel-font-bigger: 1.5rem;
  --rel-font-large: 2rem;
  --rel-font-larger: 3rem;  
  --rel-space-1: 0.25em;
  --rel-space-2: 0.5em;
  --rel-space-3: 0.75em;
  --rel-space-4: 1em;
  --rel-space-5: 1.5em;
  --rel-space-6: 2em;
  --rel-space-7: 3em;
  --rel-space-8: 4em;
  --rel-space-9: 6em;
  --rel-space-10: 8em;
  --rel-space-11: 12em;
  --rel-space-12: 16em;
  --rel-space-13: 24em;
  --rel-space-14: 32em;
  --rel-space-15: 40em;
  --rel-space-16: 48em; 
  --abs-space-1: 4px;
  --abs-space-2: 8px;
  --abs-space-3: 12px;
  --abs-space-4: 16px;
  --abs-space-5: 24px;
  --abs-space-6: 32px;
  --abs-space-7: 48px;
  --abs-space-8: 64px;
  --abs-space-9: 96px;
  --abs-space-10: 128px;
  --abs-space-11: 192px;
  --abs-space-12: 256px;
  --abs-space-13: 384px;
  --abs-space-14: 512px;
  --abs-space-15: 640px;
  --abs-space-16: 768px;
  --color-primary-0: #153B1B;
  --color-primary-1: #2B7A38;
  --color-primary-2: #38A14A;
  --color-primary-3: #42bb56;
  --color-secondary-0: #181633;
  --color-secondary-1: #23204A;
  --color-secondary-2: #302B63;
  --color-secondary-3: #363070;
  --color-secondary-4: #544CB0;
  --color-black: #101020;
  --color-white: #EEEEFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--color-secondary-4);
  color: white;
}

html, body, * {
  margin: 0;
  padding: 0;  
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

body {
  position: relative;
  height: 100vh;
  line-height: 1;
  background: url("https://www.transparenttextures.com/patterns/navy.png"),
              linear-gradient(to right, #0f0c29, #302b63, #24243e);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary-1); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--color-primary-2); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-3); 
}