@keyframes fadeIn {
  from {
    opacity: 0.1;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.layout {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: var(--rel-space-10) var(--rel-space-4) var(--rel-space-8);
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(min-content, 1024px);
  grid-auto-rows: min-content;
  grid-row-gap: var(--rel-space-8);
  animation: fadeIn 350ms ease-in;
}
